{% extends 'base.html' %}
{% block pagetitle %}
Contact Us
{% endblock pagetitle %}

{% block body %}

<div class="row mb-5 text-center text-white laptop">
    <div class="col-lg-10 mx-auto">
        <h1 class="display-4" style="padding-top: 2%;font-weight: 400;color: rgb(4, 54, 4);"><b>📞Contact-Us📞</b></h1>
        <p class="lead" style="font-weight: 500;color: black;">For Any Queries & Suggestions Contact Us. We Are Happy To
            Help.</p>
    </div>
</div>

<div class="row p-3">
    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Pukhraj Dewangan</h3>
                <p class="lead" style="font-weight: 350;">✨ Hello! I’m Pukhraj Dewangan, diving deep into the exciting world of Data Science during my B.Tech in Computer Science. What drives me? A relentless curiosity and the goal to make sense of data in ways that benefit industries and innovation.

                    As a student, I’ve not just stuck to the books; I've extended my learning to practical scenarios using React and Flask, which has helped me build robust websites. </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:pukhrajdewangan227@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/3178/3178158.png" height="40" width="40"></a> :
                pukhrajdewangan227@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/pukhrajdewangan/'><img
                        src="https://cdn-icons-png.flaticon.com/128/1384/1384014.png" height="44"
                        width="44"></a> : Pukhraj Dewangan<br><br>
            </div>
        </div>
    </div>

    <div class="col">
        <div class=" p-5 bg-white shadow rounded-lg" style="height: 95%;">
            <center>
                <h3>Shashank Baxi</h3>
                <p class="lead" style="font-weight: 350;">🚀 Passionate about technology and innovation! hello I'm Shashank Baxi Currently at 3rd-year B.Tech Computer Science student specializing in Data Science, with skills in Web Development, Java, React.js, and C++. I have a keen interest in problem-solving and continuously expanding my knowledge, including Python. enabling me to develop scalable and efficient applications. 

                </p>
            </center>
            <div>
                <h5>Social Media Handles :</h5><br>
                <a target="_blank" href='mailto:shashankbaxi1@gmail.com'><img
                        src="https://cdn-icons-png.flaticon.com/128/3178/3178158.png" height="40" width="40"></a> :
                shashankbaxi1@gmail.com<br><br>
                <a target="_blank" href='https://www.linkedin.com/in/shashankbaxi16/'><img
                        src="https://cdn-icons-png.flaticon.com/128/1384/1384014.png" height="44" width="44"></a> :
                Shashank Baxi<br><br>
        
            </div>
        </div>
    </div>
</div>

{% endblock body %}